<!DOCTYPE html>
<html>
<head>
<title>Search | {{ query }}</title>
<style>
  :root{
    --bg: #1a1b26;
    --fg: #a9b1d6;
    --bg-alt: #32344a;
    --accent: #7aa2f7;
    --accent2: #9ece6a;
    --accent3: #ad8ee6;
    --accent4: #f7768e;
  }
  html,body{
    margin:0;
    background:var(--bg);
    color:var(--fg);
    overflow-x:hidden;
  }
  input{
    margin:1em;
    margin-bottom:0;
    height:2em;
    background:var(--bg-alt);
    color:var(--fg);
    border:none;
    font-size:16px;
    padding:0.2em;
    padding-left:1em;
    width:45em;
  }
  input:focus{
    outline:none;
  }
  .result:visited{
    all:unset;
  }
  .result{
    all:unset;
    max-width:45.3em;
    display:flex;
    flex-direction:column;
    margin:1em;
    padding:0.3em;
    border-left:0.3em solid var(--bg-alt);
    font-family:'FiraCode Nerd Font';
  }
  .active{
    border-left-color:var(--accent);
    background:var(--bg-alt);
  }
  .title{
    font-weight:bold;
  }
  .desc{
    font-size:14px;
  }
  .link{
    text-decoration:none;
    color:var(--accent2);
  }
  .result__type{
    color:var(--accent3);
  }
  #backend-indicator{
    text-transform: uppercase;
    font-weight: bold;
    color:var(--accent4);
  }
  #backend-indicator:hover{
    background:var(--bg-alt);
  }
  .active .link {
    text-decoration:underline;
  }
  .active:hover{
    cursor:pointer;
  }
  a{
    color:unset;
  }
</style>
</head>
<body>
  <form action="/" method="get">
    <input id="backend" type="hidden" name="b" value="{{backend}}">
    <input id="search" name="q" value="{{query}}">
    <a href="javascript:void(0)" id="backend-indicator" onclick="changeEngine()">{{backend}}</a>
  </form>
  {{#each results}}
    <a href="{{link}}" class="result" onmouseenter="updateActive({{@index}},true)">
      <span class="title">{{{title}}}</span>
      <span class="link">{{link}}</span>
      <span class="desc">{{desc}}</span>
    </a>
  {{/each}}
</body>
<script>
  let active=0;
  let ws;
  let wslen;
  let backend;

  function updateActive(a,mouse){
    if(a<0 || a>=wslen) return 
    let c=ws[active].className.split(' ')[0]
    ws[active].className=c

    active=a
    ws[a].className+=' active'
    let l=ws[a]
    if(!mouse) l.scrollIntoView({block:'center'})
  }

  function followLink(newtab){
    let a=document.querySelectorAll('.result')[active].href
    newtab ? window.open(a,'_blank') : window.location=a
  }

  function changeEngine(){
    backend=backend=="google"?"ddg":"google";
    document.querySelector("#backend").value=backend
    document.querySelector("form").submit()
  }

  function keyHandler(e){
    switch (e.key){
      case 'j':
      case 'ArrowDown': updateActive(active+1);break;
      case 'k':
      case 'ArrowUp': updateActive(active-1);break;
      case 'ArrowRight':
      case 'l':
      case 'Enter': followLink(e.ctrlKey);break;
      case 'h':
      case 'ArrowLeft': changeEngine();break;
    }
  }

  document.addEventListener('DOMContentLoaded',()=>{
    document.getElementById('search').addEventListener('keydown',e=>{
      e.stopPropagation()
    })
    document.getElementById('search').addEventListener('input',e=>{
      e.stopPropagation()
    })
    window.addEventListener('keydown',keyHandler)

    ws=document.querySelectorAll('.result')
    wslen=ws.length
    backend=window.location.search.substring(1).split('&').find(x=>x.startsWith('b')).split('=')[1]
    document.querySelector('#backend').value=backend

    updateActive(0)
  })
</script>
</html>
